[package]
name = "crud-bench"
edition = "2021"
version = "0.1.0"
license = "Apache-2.0"
readme = "README.md"

[features]
default = [
	"dragonfly",
	"keydb",
	"lmdb",
	"mongodb",
	"mysql",
	"postgres",
	"redb",
	"redis",
	"rocksdb",
	"scylladb",
	"sqlite",
	"surrealkv",
	"surrealdb",
]
dragonfly = ["dep:redis"]
keydb = ["dep:redis"]
lmdb = ["dep:heed"]
mongodb = ["dep:mongodb"]
mysql = ["dep:mysql_async"]
postgres = ["dep:tokio-postgres"]
redb = ["dep:redb"]
redis = ["dep:redis"]
rocksdb = ["dep:rocksdb"]
scylladb = ["dep:scylla"]
speedb = ["dep:speedb"]
sqlite = ["dep:tokio-rusqlite"]
surrealdb = ["dep:surrealdb", "surrealdb/allocator", "surrealdb/kv-mem", "surrealdb/kv-rocksdb", "surrealdb/kv-surrealkv", "surrealdb/protocol-http", "surrealdb/protocol-ws"]
surrealkv = ["dep:surrealkv"]

[profile.release]
lto = true
strip = true
opt-level = 3
panic = 'abort'
codegen-units = 1

[dependencies]
affinitypool = "0.1.0"
anyhow = "1.0.94"
async-channel = "2.3.1"
bincode = "1.3.3"
bytesize = "1.3.0"
comfy-table = "7.1.3"
chrono = "0.4.39"
clap = { version = "4.5.23", features = ["derive", "string", "env", "color"] }
dashmap = "6.1.0"
env_logger = "0.11.5"
futures = "0.3.31"
hdrhistogram = "7.5.4"
heed = { version = "0.21.0", optional = true }
log = "0.4.22"
mongodb = { version = "3.1.1", optional = true }
mysql_async = { version = "0.34.2", default-features = false, features = ["bigdecimal", "binlog", "derive", "frunk", "rust_decimal", "time"], optional = true }
num_cpus = "1.16.0"
rand = { version = "0.8.5", features = ["small_rng"] }
redb = { version = "2.3.0", optional = true }
redis = { version = "0.27.6", features = ["tokio-comp"], optional = true }
rocksdb = { version = "0.22.0", features = ["lz4", "snappy", "io-uring"], optional = true }
scylla = { version = "0.15.1", optional = true }
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.133"
serial_test = "3.2.0"
speedb = { version = "0.0.5", features = ["lz4", "snappy", "io-uring"], optional = true }
surrealdb = { version = "2", package = "surrealdb-nightly", optional = true }
surrealkv = { version = "0.7.0", optional = true }
sysinfo = { version = "0.33.0" }
tokio = { version = "1.42.0", features = ["macros", "time", "rt-multi-thread"] }
tokio-postgres = { version = "0.7.12", optional = true, features = ["with-serde_json-1", "with-uuid-1"] }
tokio-rusqlite = { version = "0.6.0", optional = true, features = ["bundled"] }
twox-hash = "2.1.0"
uuid = { version = "1.11.0", features = ["v4"] }
