name: Benchmark

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

concurrency:
  # Use github.run_id on main branch
  # Use github.event.pull_request.number on pull requests, so it's unique per pull request
  # Use github.ref on other branches, so it's unique per branch
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build crud-bench
    runs-on: [runner-amd64-2xlarge]
    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build benchmark
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Store artifacts
        run: cp target/x86_64-unknown-linux-gnu/release/crud-bench crud-bench

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: crud-bench
          path: crud-bench

  benchmark:
    name: Benchmark ${{ matrix.description }}
    needs: build
    runs-on: [runner-amd64-4xlarge]
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
          # ArangoDB
          - database: arangodb
            enabled: true
            description: ArangoDB
          # Cassandra
          - database: cassandra
            enabled: false
            description: Cassandra
            skipped: Cassandra benchmark not yet implemented
          # Dragonfly
          - database: dragonfly
            enabled: true
            description: Dragonfly
          # Dry
          - database: dry
            enabled: true
            description: Dry
          # KeyDB
          - database: keydb
            enabled: true
            description: KeyDB
          # Map
          - database: map
            enabled: true
            description: Map
          # LMDB
          - database: lmdb
            enabled: true
            description: LMDB
          # MongoDB
          - database: mongodb
            enabled: true
            description: MongoDB
          # MySQL
          - database: mysql
            enabled: false
            description: MySQL
            skipped: MySQL benchmark skipped due to excessive benchmark time
          # Postgres
          - database: postgres
            enabled: true
            description: Postgres
          # Redb
          - database: redb
            enabled: false
            description: ReDB
            skipped: ReDB benchmark skipped due to excessive benchmark time
          # Redis
          - database: redis
            enabled: true
            description: Redis
          # RocksDB
          - database: rocksdb
            enabled: true
            description: RocksDB
          # Scylladb
          - database: scylladb
            enabled: false
            description: ScyllaDB
            skipped: ScyllaDB benchmark not yet implemented
          # SQLite
          - database: sqlite
            enabled: true
            description: SQLite
          # SurrealDB + Memory
          - database: surrealdb-memory
            enabled: true
            description: SurrealDB with in-memory storage
          # SurrealDB + RocksDB
          - database: surrealdb-rocksdb
            enabled: true
            description: SurrealDB with RocksDB storage
          # SurrealDB + SurrealKV
          - database: surrealdb-surrealkv
            enabled: true
            description: SurrealDB with SurrealKV storage
          # SurrealDB Memory Engine
          - database: surrealdb
            enabled: true
            endpoint: -e memory
            description: SurrealDB embedded with in-memory storage
          # SurrealDB RocksDB Rngine
          - database: surrealdb
            enabled: true
            endpoint: -e rocksdb:/tmp/rocksdb-engine
            description: SurrealDB embedded with RocksDB storage
          # SurrealDB SurrealKV Engine
          - database: surrealdb
            enabled: true
            endpoint: -e surrealkv:/tmp/surrealkv-engine
            description: SurrealDB embedded with in-SurrealKV storage
          # SurrealKV
          - database: surrealkv
            enabled: true
            description: SurrealKV
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts
          merge-multiple: true

      - name: Set file permissions
        run: chmod +x ${{ github.workspace }}/artifacts/crud-bench

      - name: ${{ matrix.skipped || 'Benchmark processing' }}
        if: ${{ !matrix.enabled }}
        run: echo "${{ matrix.skipped }}"

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key integer / random)
        timeout-minutes: 30
        if: ${{ matrix.enabled }}
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} ${{ matrix.endpoint || '' }} -s 5000000 -c 128 -t 48 -k integer -r
        env:
          CRUD_BENCH_LMDB_DATABASE_SIZE: 1073741824 # 1 GiB

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string26 / random)
        timeout-minutes: 30
        if: ${{ matrix.enabled }}
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} ${{ matrix.endpoint || '' }} -s 5000000 -c 128 -t 48 -k string26 -r
        env:
          CRUD_BENCH_LMDB_DATABASE_SIZE: 1073741824 # 1 GiB

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string90 / random)
        timeout-minutes: 30
        if: ${{ matrix.enabled }}
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} ${{ matrix.endpoint || '' }} -s 5000000 -c 128 -t 48 -k string90 -r
        env:
          CRUD_BENCH_LMDB_DATABASE_SIZE: 3221225472 # 3 GiB

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string506 / random)
        timeout-minutes: 30
        if: ${{ matrix.enabled }}
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} ${{ matrix.endpoint || '' }} -s 5000000 -c 128 -t 48 -k string506 -r
        env:
          CRUD_BENCH_LMDB_DATABASE_SIZE: 16106127360 # 15 GiB

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string26 / random / 1.5KiB row and object size)
        timeout-minutes: 30
        if: ${{ matrix.enabled }}
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} ${{ matrix.endpoint || '' }} -s 5000000 -c 128 -t 48 -k string26 -r
        env:
          CRUD_BENCH_LMDB_DATABASE_SIZE: 32212254720 # 30 GiB
          CRUD_BENCH_VALUE: '{ "text": "text:50", "integer": "int", "nested": { "text": "text:1000", "array": [ "string:50", "string:50", "string:50", "string:50", "string:50" ] } }'

      - name: Finish benchmarking
        run: echo "Complete"
        if: success() || failure()
