name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

concurrency:
  # Use github.run_id on main branch
  # Use github.event.pull_request.number on pull requests, so it's unique per pull request
  # Use github.ref on other branches, so it's unique per branch
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:

  format:
    name: Check format
    runs-on: ubuntu-latest
    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check format
        run: cargo fmt --all --check

  clippy:
    name: Check clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check clippy
        run: cargo clippy --tests -- -D warnings

  test:
    name: Check tests
    runs-on: ubuntu-latest
    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check tests
        run: cargo test

  build:
    name: Build crud-bench
    runs-on: [ runner-amd64-2xlarge-private ]
    steps:
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build benchmark
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Store artifacts
        run: cp target/x86_64-unknown-linux-gnu/release/crud-bench crud-bench

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: crud-bench
          path: crud-bench

  benchmark:
    name: Benchmark ${{ matrix.description }}
    needs: build
    runs-on: [ runner-amd64-2xlarge-private ]
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
          # Dragonfly
          - database: dragonfly
            description: Dragonfly
          # Dry
          - database: dry
            description: Dry
          # KeyDB
          - database: keydb
            description: KeyDB
          # Map
          - database: map
            description: Map
          # MongoDB
          - database: mongodb
            description: MongoDB
          # Postgres
          - database: postgres
            description: Postgres
          # Redb
          - database: redb
            description: Redb
          # Redis
          - database: redis
            description: Redis
          # RocksDB
          - database: rocksdb
            description: RocksDB
          # Scylladb
          - database: scylladb
            description: ScyllaDB
          # SurrealDB + Memory
          - database: surrealdb-memory
            description: SurrealDB with in-memory storage
          # SurrealDB + RocksDB
          - database: surrealdb-rocksdb
            description: SurrealDB with RocksDB storage
          # SurrealDB + SurrealKV
          - database: surrealdb-surrealkv
            description: SurrealDB with SurrealKV storage
          # SurrealKV
          - database: surrealkv
            description: SurrealKV
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts
          merge-multiple: true

      - name: Set file permissions
        run: chmod +x ${{ github.workspace }}/artifacts/crud-bench

      # 250,000 records

      - name: Run benchmarks (250,000 samples / 32 clients / 1 threads)
        timeout-minutes: 10
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 250000 -c 32 -t 1 -k integer

      - name: Run benchmarks (250,000 samples / 128 clients / 1 threads)
        timeout-minutes: 10
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 250000 -c 128 -t 1 -k integer

      - name: Run benchmarks (250,000 samples / 128 clients / 24 threads)
        timeout-minutes: 10
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 250000 -c 128 -t 24 -k integer

      - name: Run benchmarks (250,000 samples / 128 clients / 48 threads)
        timeout-minutes: 10
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 250000 -c 128 -t 48 -k integer

      # 1,000,000 records

      - name: Run benchmarks (1,000,000 samples / 128 clients / 48 threads / key integer / random)
        timeout-minutes: 15
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 1000000 -c 128 -t 48 -k integer -r

      - name: Run benchmarks (1,000,000 samples / 128 clients / 48 threads / key string26 / random)
        timeout-minutes: 15
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 1000000 -c 128 -t 48 -k string26 -r

      - name: Run benchmarks (1,000,000 samples / 128 clients / 48 threads / key string90 / random)
        timeout-minutes: 15
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 1000000 -c 128 -t 48 -k string90 -r

      - name: Run benchmarks (1,000,000 samples / 128 clients / 48 threads / key string506 / random)
        timeout-minutes: 15
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 1000000 -c 128 -t 48 -k string506 -r

      # 5,000,000 records

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key integer / random)
        timeout-minutes: 20
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 5000000 -c 128 -t 48 -k integer -r

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string26 / random)
        timeout-minutes: 20
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 5000000 -c 128 -t 48 -k string26 -r

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string90 / random)
        timeout-minutes: 20
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 5000000 -c 128 -t 48 -k string90 -r

      - name: Run benchmarks (5,000,000 samples / 128 clients / 48 threads / key string506 / random)
        timeout-minutes: 20
        run: ${{ github.workspace }}/artifacts/crud-bench -d ${{ matrix.database }} -s 5000000 -c 128 -t 48 -k string506 -r
